.movie-detail-container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    text-align: left;
    width: 100vw;
    /* removing root-component padding */
    margin-left: -20px;
    margin-right: -20px;
    box-sizing: border-box;
}

.movie-details-poster{
    border-radius: 20px;
    overflow: hidden;
    background-color: #282c34;
    box-shadow: 3px 5px 10px 15px #20232A;
    width: 260px;
}

.movie-informations-container{
    margin-left: 20px;
    margin-right: 20px;
}

.movie-informations-container > h1{
    font-weight: bold;
    /* font-size: 45px; */
}

.movie-tagline{
    font-style: italic;
}

.movie-details-genre{
    background-color: #3a3f47;
    color: #9ab;
    padding: 6px 12px;
    border-radius: 20px; /* Forme ovale */
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    margin: 5px;
    white-space: nowrap;
    min-width: fit-content;
    text-decoration: none;
}

.movie-details-genre:hover {
    background-color: #444a54;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.movie-details-overview {
    text-align: justify;
}

.movie-detail-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    text-align: left;
    position: relative;
    z-index: 1; 
    border-bottom: 2px solid #20232A;
    border-top: 2px solid #20232A
}

.backdrop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 44, 52, 0.8);
    z-index: -1;
    width: 100%;
}