.movie-detail-container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    text-align: left;
}

.movie-details-poster{
    border-radius: 20px;
    overflow: hidden;
    background-color: #282c34;
    box-shadow: 3px 5px 10px 15px #20232A;
    width: 260px;
}

.movie-informations-container{
    margin-left: 20px;
}

.movie-informations-container > h1{
    font-weight: bold;
    /* font-size: 45px; */
}

.movie-tagline{
    font-style: italic;
}

.movie-details-genre{
    background-color: #3a3f47;
    color: #9ab;
    padding: 6px 12px;
    border-radius: 20px; /* Forme ovale */
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    margin: 5px;
    white-space: nowrap;
    min-width: fit-content;
    text-decoration: none;
}

.movie-details-genre:hover {
    background-color: #444a54;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}