.genre-filter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: flex-start;
}

.genre-selector{
    background-color: #3a3f47;
    color: #9ab;
    padding: 6px 12px;
    border-radius: 20px; /* Forme ovale */
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    margin: 5px;
    white-space: nowrap;
    min-width: fit-content;
}

.genre-selector:hover {
    background-color: #444a54;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.genre-selector.selected {
    background-color: #A07178;
    color: #fff;
    border-color: #936269;
    font-weight: bold;
}

.genre-selector.selected:hover {
    background-color: #936269;
}

.filter-container h3{
    color: #BBC7CE;
    text-align: left;
}

.filter-container h4{
    color: #BBC7CE;
    text-align: left;
    font-size: medium;
}

/* Styles pour l'ellipse de sélection de tri */
.sort-selector-ellipse {
    display: flex;
    align-items: center;
    background-color: #3a3f47;
    border-radius: 20px;
    padding: 5px 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style du dropdown */
.sort-dropdown {
    background: transparent;
    border: none;
    color: #9ab;
    padding: 5px 10px;
    font-size: 14px;
    flex-grow: 1;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.sort-dropdown option {
    background-color: #282c34;
    color: #9ab;
}

/* conteneur flèche asc/desc*/
.sort-order-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 10px;
    border-left: 1px solid #555;
    margin-left: 10px;
}

.up-arrow, .down-arrow {
    font-size: 12px;
    color: #555;
    line-height: 0.8;
    transition: all 0.2s ease;
}

/* when */
.up-arrow.active, .down-arrow.active {
    color: #C0C5C1;
    font-size: 16px;
    font-weight: bold;
}

.up-arrow.active {
    transform: translateY(-1px);
}

.down-arrow.active {
    transform: translateY(1px);
}

/* hover arrow animation*/
.sort-order-arrows:hover .up-arrow:not(.active),
.sort-order-arrows:hover .down-arrow:not(.active) {
    color: #777;
}

.vote-input-container {
    display: flex;
    margin: 10px 0 20px 0;
    width: 100%;
}

.vote-input {
    background-color: #3a3f47;
    color: #9ab;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid transparent;
    width: 100%;
    transition: all 0.2s ease;
    outline: none;
}

.vote-input:focus {
    background-color: #444a54;
    border-color: #4C8577;
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.vote-input.editing {
    border-color: #A07178;
    background-color: rgba(160, 113, 120, 0.1); 
}